# Credenciales Tickhosting
TICK_USER=TuUsuario
TICK_PASS=TuContraseña

# Configuración Minecraft Anti-AFK
MC_HOST=play.creeperlegends.com
MC_PORT=25565
MC_USER=AntiAFK_Bot
MC_VERSION=1.20.1

# Notificaciones Discord (Opcional)
DISCORD_WEBHOOK=URL_AQUÍ

# Sistema de Licencias (USA: ADMIN-123)
LICENSE_KEY=ADMIN-123
